# Environments
.env
dev.env
dev.microapp.env
.vscode
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
postgres-data/
flower-static/
mysql-data/
media/
client_sites/
client_site_db/
deployed_sites/
private-keys/id_rsa
private-keys/id_rsa.pub
tmp/

.DS_Store
/.DS_Store
.idea
.vscode
__pycache__
gunicorn-error.log
logs
*.log
*.pot
*.pyc
db.sqlite3
media
celerybeat-schedule
client_site_db
client_sites
tmp

credentials/apple_certificate.pem

celerybeat-*
